.horizon_center{
    margin:auto;
}

.logo{
    width:calc( 100% - 20px );
    margin:10px;
}

.mdl-layout__drawer header .title{
    margin: 15px;
    text-align: center;
    color: white;
    font-size: 1.3em;
}


 .mdl-navigation__link{
     color:#F3F3F3 !important;
     font-size: 1.2em !important;
 }

 .mdl-navigation__link:hover {
    background-color: #4B110F !important;
 }

 .mdl-layout__header{
     background-color: #876339 !important;
 }

 .mdl-mini-footer{
     background-color: #6E5131 !important;
 }
 
 .mdl-layout__drawer{
     background-color: #691917 !important;
 }

 li{
     list-style: none;
 }