.horizon_center{
    margin:auto;
}

.logo{
    width:calc( 100% - 20px );
    margin:10px;
}


.mdl-layout__drawer header .title{
    margin: 15px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    
}


 .mdl-navigation__link{
     color:#F3F3F3 !important;
     font-size: 1.2em !important;
 }

 .mdl-navigation__link:hover {
    background-color: #4B110F !important;
 }

 .mdl-layout__header{
     background-color: #876339 !important;
     color: white;
 }

#top-nav {
    margin:25px;
 }

 .mdl-mini-footer{
     background-color: #6E5131 !important;
 }

 .mdl-layout__drawer{
     background-color: #691917 !important;
     overflow-y: unset;
 }

 .mdl-layout{
     min-height: 100%;
     height: auto !important;
 }

 
 li{
     list-style: none;
 }

 #title-parent {
    color: black;
    font-size: 18px;
    vertical-align: middle;
 }

 #title-child {
    color: white;
    font-size: 23px;
 }