
<div class='mdl-grid'>
  <div class="card mdl-card mdl-shadow--2dp mdl-cell--5-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">我的網路壞掉了</h2>
    </div>
    <p class="mdl-card__supporting-text">
      <span class="big-word">自己的網路自己修</span><br/>
      請看以下完整教學
    </p>
    <div id="os-list">
      <a class="os-icon" href="#">
        <i class="fa fa-windows fa-3x"></i>
      </a>
      <a class="os-icon" href="#">
        <i class="fa fa-apple fa-3x"></i>
      </a>
      <a class="os-icon" href="#">
        <i class="fa fa-linux fa-3x"></i>
      </a>

    </div>
     
    
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="card mdl-card mdl-shadow--2dp mdl-cell--5-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">寄信給網管</h2>
    </div>
    <p class="mdl-card__supporting-text">
      怎麼修都修不好嗎？<br>
      覺得網站太爛，有任何的建議嗎？<br>
      寄封信給網管吧～
    </p>
    <form action="#" id="send-mail">
        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text"  />
          <label class="mdl-textfield__label" >有什麼問題？</label>
        </div>
        <button class="mdl-button mdl-js-button">
          傳送
        </button>
    </form>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
</div>