
<div  class='users-table mdl-grid'  >

      


     

    <div class="page-content mdl-cell mdl-cell--10-col horizon_center">
      <form  style="margin-left:15px" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text"  ng-model="query[search_field]" id="search-user"/>
          <label class="mdl-textfield__label" for="search-user">搜尋...</label>
        </div>

      </form>
      <table class="mdl-data-table mdl-js-data-table
              mdl-shadow--2dp 
              " >
          <thead>
            <tr>
              <th ng-repeat="field in field_name">{{field}}</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="data in usersData | filter: query | itemsPerPage: 5 ">
               <td ng-repeat="field in field_key ">
                  {{data[field]}}
               </td>
            </tr>
          </tbody>

      </table>
      <dir-pagination-controls
              class="mdl-grid" 
              boundary-links="true" 
              on-page-change="pageChangeHandler(newPageNumber)" 
              template-url="./bower_components/angular-utils-pagination/dirPagination.tpl.html">
     </dir-pagination-controls>
    </div>

    

</div>


